<app-homebanner></app-homebanner>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-10 heading-section text-center" data-aos="fade-up">
                <!-- <div class="col-md-7 heading-section " data-aos="fade-up text-center"> -->
                <h2 class="mb-4"><span>Buffet</span> SPECIALITY</h2>
                <p>From our signature Tandoori Chicken to the crowd favourite Tandoori Vegetable Platter, here at
                    Riverwalk Tandoor, we have a dish for everyone. Have a look at our speciality dishes picked out
                    specially for you!</p>
            </div>
        </div>

    </div>

    <div class="container-wrap">
        <div class="row no-gutters d-flex">
            <div class="col-lg-6 d-flex " data-aos="fade-up">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url(assets/images/menu1.jpg);"></a>
                    <div class="text p-4">
                        <h3>Tandoor Chicken</h3>
                        <p>Ground boneless pieces of chicken breast seasoned with a mixture of yogurt and the spice
                            tandoori masala, barbecued on skewers in the clay oven and served with grilled onions &
                            lemon.</p>
                        <p class="price"><span>$2.90</span> <a href="#"
                                class="ml-2 btn btn-white btn-outline-white">Order</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex " data-aos="fade-up">
                <div class="services-wrap d-flex">
                    <a href="#" class="img" style="background-image: url(assets/images/menu2.jpg);"></a>
                    <div class="text p-4">
                        <h3>Tandoori Prawn</h3>
                        <p>Succulent prawns seasoned with a mixture of yogurt and the spice tandoori masala,
                            barbecued on skewers in the clay oven and served with grilled onions & lemon.</p>
                        <p class="price"><span>$2.90</span> <a href="#"
                                class="ml-2 btn btn-white btn-outline-white">Order</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex " data-aos="fade-up">
                <div class="services-wrap d-flex">
                    <a href="#" class="img order-lg-last" style="background-image: url(assets/images/menu3.jpg);"></a>
                    <div class="text p-4">
                        <h3>Butter Chicken</h3>
                        <p>Tender pieces of tandoori boneless chicken sautéed in a butter and cream sauce. Best
                            paired with garlic naan.</p>
                        <p class="price"><span>$2.90</span> <a href="#"
                                class="ml-2 btn btn-white btn-outline-white">Order</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex " data-aos="fade-up">
                <div class="services-wrap d-flex">
                    <a href="#" class="img order-lg-last" style="background-image: url(assets/images/menu4.jpg);"></a>
                    <div class="text p-4">
                        <h3>Tandoori Vegetable Platter</h3>
                        <p>Traditionally served as a starter, the tandoori vegetable platter is a classic dish and a
                            crowd favourite.</p>
                        <br><br>
                        <p class="price"><span>$2.90</span> <a href="#"
                                class="ml-2 btn btn-white btn-outline-white">Order</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center " data-aos="fade-up">
                <h2 class="mb-4">Our Menu Pricing</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-1.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Italian Pizza</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-2.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Hawaiian Pizza</span></h3>
                            <span class="price">$29.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-3.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Greek Pizza</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-4.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Bacon Crispy Thins</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-5.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Hawaiian Special</span></h3>
                            <span class="price">$49.91</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-6.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Ultimate Overload</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-7.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Bacon Pizza</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex " data-aos="fade-up">
                    <div class="img" style="background-image: url(assets/images/pizza-8.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>Ham &amp; Pineapple</span></h3>
                            <span class="price">$20.00</span>
                        </div>
                        <div class="d-block">
                            <p>A small river named Duden flows by their place and supplies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 " data-aos="fade-up">
                <a href="#" class="gallery img d-flex align-items-center"
                    style="background-image: url(assets/images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 " data-aos="fade-up">
                <a href="#" class="gallery img d-flex align-items-center"
                    style="background-image: url(assets/images/gallery-2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 " data-aos="fade-up">
                <a href="#" class="gallery img d-flex align-items-center"
                    style="background-image: url(assets/images/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 " data-aos="fade-up">
                <a href="#" class="gallery img d-flex align-items-center"
                    style="background-image: url(assets/images/gallery-4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-6 d-flex align-self-stretch">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8084676653166!2d103.84615751475394!3d1.289137499059751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190a78173d93%3A0xd50dffc366b0997b!2s20%20Upper%20Circular%20Rd%2C%20B1%20The%20Riverwalk%2C%20Singapore%20058416!5e0!3m2!1sen!2sin!4v1616778066088!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-6 appointment " data-aos="fade-up">
                <h3 class="mb-3">Contact Us</h3>
                <form action="#" class="appointment-form">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="d-me-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control"
                            placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>