<app-homebanner></app-homebanner>
<section class="home-slider owl-carousel img" style="background-image: url(assets/images/bg_1.jpg);">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 " data-aos="fade-up">
                    <span class="subheading">Delicious</span>
                    <h1 class="mb-4">Italian Cuizine</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>  
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#"
                            class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 " data-aos="fade-up">
                    <img src="assets/images/bg_1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 order-md-last " data-aos="fade-up">
                    <span class="subheading">Crunchy</span>
                    <h1 class="mb-4">Italian Pizza</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#"
                            class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 " data-aos="fade-up">
                    <img src="assets/images/bg_2.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url(assets/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 col-sm-12 text-center " data-aos="fade-up">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#"
                            class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(assets/images/about.jpg);"></div>
    <div class="one-half " data-aos="fade-up">
        <div class="heading-section" data-aos="fade-up">
            <h2 class="mb-4"><span>Write -Up</span></h2>
            <!-- <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2> -->
        </div>
        <div>
            <p>Since its inception at Upper Circular in 1998, Riverwalk Tandoor has established itself as one of the
                biggest Indian restaurant chains in Singapore.<br>The restaurant has picked up several awards for
                its exquisite cuisine and outstanding service over the years. This is due to its chefs, service crew
                and managers who pride themselves as Riverwalk Tandoor’s food and service ambassadors.<br>

                The RWT name has become synonymous with diners for simply the best North Indian cuisine you can find
                anywhere in the world.</p>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">

    <div class="one-half " data-aos="fade-up">
        <div class="heading-section" data-aos="fade-up">
            <h2 class="mb-4"><span>Introduction</span></h2>
            <!-- <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2> -->
        </div>
        <div>
            <p>Since its inception at Upper Circular in 1998, Riverwalk Tandoor has established itself as one of the
                biggest Indian restaurant chains in Singapore.<br>The restaurant has picked up several awards for
                its exquisite cuisine and outstanding service over the years. This is due to its chefs, service crew
                and managers who pride themselves as Riverwalk Tandoor’s food and service ambassadors.<br>

                The RWT name has become synonymous with diners for simply the best North Indian cuisine you can find
                anywhere in the world.</p>
        </div>
    </div>
    <div class="one-half img" style="background-image: url(assets/images/about.jpg);"></div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(assets/images/about.jpg);"></div>
    <div class="one-half " data-aos="fade-up">
        <div class="heading-section" data-aos="fade-up">
            <h2 class="mb-4"><span>Vision</span></h2>
            <!-- <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2> -->
        </div>
        <div>
            <p>Since its inception at Upper Circular in 1998, Riverwalk Tandoor has established itself as one of the
                biggest Indian restaurant chains in Singapore.<br>The restaurant has picked up several awards for
                its exquisite cuisine and outstanding service over the years. This is due to its chefs, service crew
                and managers who pride themselves as Riverwalk Tandoor’s food and service ambassadors.<br>

                The RWT name has become synonymous with diners for simply the best North Indian cuisine you can find
                anywhere in the world.</p>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">

    <div class="one-half " data-aos="fade-up">
        <div class="heading-section" data-aos="fade-up">
            <h2 class="mb-4"><span>Mission</span></h2>
            <!-- <h2 class="mb-4">Welcome to <span class="flaticon-pizza">Pizza</span> A Restaurant</h2> -->
        </div>
        <div>
            <p>Since its inception at Upper Circular in 1998, Riverwalk Tandoor has established itself as one of the
                biggest Indian restaurant chains in Singapore.<br>The restaurant has picked up several awards for
                its exquisite cuisine and outstanding service over the years. This is due to its chefs, service crew
                and managers who pride themselves as Riverwalk Tandoor’s food and service ambassadors.<br>

                The RWT name has become synonymous with diners for simply the best North Indian cuisine you can find
                anywhere in the world.</p>
        </div>
    </div>
    <div class="one-half img" style="background-image: url(assets/images/about.jpg);"></div>
</section>







<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-6 d-flex align-self-stretch">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8084676653166!2d103.84615751475394!3d1.289137499059751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190a78173d93%3A0xd50dffc366b0997b!2s20%20Upper%20Circular%20Rd%2C%20B1%20The%20Riverwalk%2C%20Singapore%20058416!5e0!3m2!1sen!2sin!4v1616778066088!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-6 appointment " data-aos="fade-up">
                <h3 class="mb-3">Contact Us</h3>
                <form action="#" class="appointment-form">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="d-me-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control"
                            placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>